/* Configurações gerais */
:root {
    --cor-verde-principal: #2f7667;
    --cor-verde-secundaria: #0c5445;
    --cor-branca-principal: #ffffff;
    --cor-escura-principal: #000000;
    --cor-escura-secundaria: #00000096;
    --cor-azul-principal: #3498db;
}

* {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    color: var(--cor-branca-principal);
    font-size: 20px;
}

body {
    overflow-x: hidden;
}

img {
    padding-top: 10px;
    padding-bottom: 30px;
}

h2{
    color: gray;
}

.text-paragraph{
    color: gray;
}

/* Configurações do container principal */
.main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondary-container{
    padding: 20px;
}

/* Configurações do header */
.header {
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--cor-verde-principal);
    justify-content: center;
    align-items: center;
}

.header-title {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu-sidebar {
    background-color: transparent;
    border: none;
    transform: rotate(90deg);
    margin-bottom: 15px;
}

/* Sobrescrevendo configurações do bootsrap */
.offcanvas {
    background-color: var(--cor-verde-principal) !important;
}