/* Configurações gerais */
:root {
    --cor-verde-principal: #2f7667;
    --cor-verde-secundaria: #0c5445;
    --cor-branca-principal: #ffffff;
    --cor-escura-principal: #000000;
    --cor-escura-secundaria: #00000096;
    --cor-azul-principal: #3498db;
}

* {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    color: var(--cor-branca-principal);
    font-size: 20px;
}

a:link {
    color: var(--cor-branca-principal);
}

html {
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    position: fixed;
}

/* Configurações do container principal */
.main-container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Configurações do header */
.header {
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    background-color: var(--cor-verde-principal);
    justify-content: center;
    align-items: center;
}

.header-title {
    flex: 1;
    display: flex;
    justify-content: center;
}

.menu-sidebar {
    background-color: transparent;
    border: none;
    transform: rotate(90deg);
    margin-bottom: 20px;
}

/* Configurações do iframe */
iframe {
    flex: 1;
    position: relative;
}

/* Sobrescrevendo configurações do bootsrap */
.offcanvas {
    background-color: var(--cor-verde-principal) !important;
}

.toggle-pesquisar {
    position: absolute;
    bottom: 120px;
}

.toggle-info {
    position: absolute;
    bottom: 180px;
}

.inactive {
    display: none;
}

.pesquisar-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    max-width: 400px;
    background-color: var(--cor-verde-principal);
}

.pesquisar-input {
    padding: 10px;
    border: 1px solid var(--cor-branca-principal);
    outline: none;
    border-radius: 20px;
    background-color: var(--cor-verde-principal);
}

.pesquisar-input:focus {
    border: 3px solid var(--cor-verde-secundaria);
}

::placeholder {
    color: var(--cor-branca-principal);
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--cor-branca-principal);
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--cor-branca-principal);
}

.pesquisar-button {
    padding: 10px;
    background-color: var(--cor-branca-principal);
    color: var(--cor-escura-principal);
    border-radius: 20px;
    border: none;
}

.empresas-select {
    background-color: var(--cor-verde-secundaria);
    border-bottom: 1px solid var(--cor-branca-principal);
    text-align: center;
    border: none;
    border-radius: 20px;
    padding: 10px;
    /* acrescentando margem direita da seta select */
    border-right: 16px solid transparent
}

/* Dialog container */
.dialog-container::backdrop {
    background-color: rgba(0, 0, 0, 0.568);
}

.dialog-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background-color: transparent;
    overflow: hidden;
}

/* Loading screen */
.loader {
    border: 16px solid var(--cor-branca-principal);
    /* Light grey */
    border-top: 16px solid var(--cor-azul-principal);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}